@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-sans--font-feature-settings: "ss02";
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@theme {
  --spacing-safe-top: env(safe-area-inset-top);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9848 0 0);
  --foreground: oklch(0.2044 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2044 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2044 0 0);
  --primary: oklch(0.6356 0.2082 25.3782);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9696 0 0);
  --secondary-foreground: oklch(0.2044 0 0);
  --muted: oklch(0.9696 0 0);
  --muted-foreground: oklch(0.5547 0 0);
  --accent: oklch(0.9234 0 0);
  --accent-foreground: oklch(0.2044 0 0);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9157 0 0);
  --input: oklch(0.9157 0 0);
  --ring: oklch(0.6356 0.2082 25.3782);
  --chart-1: oklch(0.6356 0.2082 25.3782);
  --chart-2: oklch(0.4184 0 0);
  --chart-3: oklch(0.683 0 0);
  --chart-4: oklch(0.9234 0 0);
  --chart-5: oklch(0.7052 0.1587 21.9658);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2044 0 0);
  --sidebar-primary: oklch(0.6356 0.2082 25.3782);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9234 0 0);
  --sidebar-accent-foreground: oklch(0.2044 0 0);
  --sidebar-border: oklch(0.9157 0 0);
  --sidebar-ring: oklch(0.6356 0.2082 25.3782);

  --warning: oklch(0.84 0.16 84);
  --warning-foreground: oklch(0.28 0.07 46);

  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 1px 2px -1px
    hsl(0 0% 0% / 0.05);
  --shadow:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 1px 2px -1px
    hsl(0 0% 0% / 0.05);
  --shadow-md:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 2px 4px -1px
    hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 4px 6px -1px
    hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 8px 10px -1px
    hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
}

.dark {
  --background: oklch(0.1815 0 0);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.2044 0 0);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.2044 0 0);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.6356 0.2082 25.3782);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.2697 0 0);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2697 0 0);
  --muted-foreground: oklch(0.683 0 0);
  --accent: oklch(0.3211 0 0);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3008 0 0);
  --input: oklch(0.3008 0 0);
  --ring: oklch(0.6356 0.2082 25.3782);
  --chart-1: oklch(0.6356 0.2082 25.3782);
  --chart-2: oklch(0.7652 0 0);
  --chart-3: oklch(0.5103 0 0);
  --chart-4: oklch(0.2156 0 0);
  --chart-5: oklch(0.5949 0.2366 28.5542);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.6356 0.2082 25.3782);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.3211 0 0);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.2156 0 0);
  --sidebar-ring: oklch(0.6356 0.2082 25.3782);

  --warning: oklch(0.41 0.11 46);
  --warning-foreground: oklch(0.99 0.02 95);

  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.2;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2), 0rem 1px 2px -1px
    hsl(0 0% 0% / 0.2);
  --shadow:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2), 0rem 1px 2px -1px
    hsl(0 0% 0% / 0.2);
  --shadow-md:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2), 0rem 2px 4px -1px
    hsl(0 0% 0% / 0.2);
  --shadow-lg:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2), 0rem 4px 6px -1px
    hsl(0 0% 0% / 0.2);
  --shadow-xl:
    0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2), 0rem 8px 10px -1px
    hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;

    letter-spacing: var(--tracking-normal);
    -webkit-tap-highlight-color: transparent;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
