@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "highlight.js/styles/vs2015.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-libre-franklin);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@theme {
  --spacing-safe-top: env(safe-area-inset-top);
}

:root {
  --radius: 0.45rem;
  --background: oklch(0.9848 0 0);
  --foreground: oklch(0.2044 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2044 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2044 0 0);
  --primary: oklch(0.6356 0.2082 25.3782);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9696 0 0);
  --secondary-foreground: oklch(0.2044 0 0);
  --muted: oklch(0.9696 0 0);
  --muted-foreground: oklch(0.5547 0 0);
  --accent: oklch(0.9234 0 0);
  --accent-foreground: oklch(0.2044 0 0);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9157 0 0);
  --input: oklch(0.9157 0 0);
  --ring: oklch(0.6356 0.2082 25.3782);

  --warning: oklch(0.84 0.16 84);
  --warning-foreground: oklch(0.28 0.07 46);
}

.dark {
  --background: oklch(0.1815 0 0);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.2044 0 0);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.2044 0 0);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.6356 0.2082 25.3782);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.2697 0 0);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2697 0 0);
  --muted-foreground: oklch(0.683 0 0);
  --accent: oklch(0.3211 0 0);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3008 0 0);
  --input: oklch(0.3008 0 0);
  --ring: oklch(0.6356 0.2082 25.3782);

  --warning: oklch(0.41 0.11 46);
  --warning-foreground: oklch(0.99 0.02 95);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-background text-foreground;

    -webkit-tap-highlight-color: transparent;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled),
  [role="menuitem"]:not(:disabled) {
    /* biome-ignore lint/complexity/noImportantStyles: Override default browser behavior */
    cursor: pointer !important;
  }
}

.tiptap {
  *.is-empty::before {
    color: var(--muted-foreground);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  ul.is-empty::before {
    margin-left: 0.375em;
  }

  .ProseMirror-trailingBreak::selection {
    background: transparent;
  }
}

.prose {
  blockquote {
    font-family: var(--font-serif);
    font-style: var(--font-weight-normal);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);

    p:first-of-type::before {
      content: none;
    }

    p:last-of-type::after {
      content: none;
    }
  }

  pre {
    background: #1e1e1e;
    color: #dcdcdc;
  }
}
